.wheel_container {
    position: relative;
    display: flex;
    height: 100%;
    width: 70%;
    background: aliceblue;
    align-items: center;
    justify-content: center;
}

.config_container {
    display: flex;
    height: 100%;
    width: 30%;
    background: beige;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

#sub_wheel {
    background: darkorange;
    z-index: 1000;
    width: 25%!important;
    animation: spin linear;
    animation-iteration-count: infinite;
}

.wheel {
    border: 1px solid #000;
    position: absolute;
    width: 50%;
    overflow: hidden;
    flex-wrap: wrap;
    background: darkorange;
    border-radius: 50%;
    display: flex;
    animation: spin linear;
    animation-iteration-count: infinite;
    animation-play-state: paused;
    /*animation-timing-function: cubic-bezier(0, 0, 0, .99);*/
}

body {
    margin: 0;
    padding: 0;
}

.wheel_item {
    height: 50%;
    width: 50%;
}

#pointer {
    position: absolute;
    right: 20%;
    z-index: 10000;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-right: 60px solid green;
}
